.admin-page {
    padding: 20px;
    background-color: var(--color-background-soft);
}

.title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--color-border);
    border-radius: 5px;
}

.loading-text {
    font-size: 1.2rem;
    color: var(--vt-c-black-soft);
}

.user-table {
    width: 100%;
    border-collapse: collapse;
}

.header-cell {
    background-color: var(--color-background);
    color: var(--vt-c-black);
    padding: 12px;
    text-align: left;
    border-bottom: 2px solid var(--color-border);
}

.user-row {
    transition: background-color 0.3s;
}

.user-row:hover {
    background-color: var(--color-background-mute);
}

.user-cell {
    padding: 12px;
    border-bottom: 1px solid var(--color-border);
}

.deactivated-text {
    color: red;
}

.actions-cell {
    display: flex;
    justify-content: flex-start;
    padding: 0;
}

.button-container {
    display: flex;
    gap: 10px;
}

.button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 120px;
    text-align: center;
}

.button {
    background-color: #007bff; /* Blue */
    color: white;
}

.delete-button {
    background-color: #dc3545; /* Red */
    color: white;
}

.button:hover {
    opacity: 0.9;
}

.delete-button:hover {
    opacity: 0.9;
}
